# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv/

# IDE
.idea/
#.vscode/ # Let's be nice to the devs
*.swp
*.swo

# Docker
.docker/

# Logs
*.log

# Local development
.env
.env.local 
.DS_Store
.coverage
